<footer class="container">
  <% const d=new Date();%>
      <% let year=d.getFullYear(); %>
          <p class="float-end">
              <a href="#">Back to top</a>
          </p>
          <p>
              Copyright © <%= year %>
          </p>
</footer>
</div>

</body>

</html>