<%- include("./partials/header.ejs") %>

    <section class="gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">

                    <div class="card">

                        <div class="card-body p-5">

                            <form class="d-flex justify-content-center align-items-start mb-4" method="post"
                                action="/todayAddTask">
                                <div class="form-outline flex-fill">
                                    <input type="text" id="form2" class="form-control" name="newTask" />
                                    <label class="form-label" for="form2">New task...</label>
                                </div>
                                <button type="submit" class="btn btn-info ms-2">Add</button>
                            </form>

                            <div class="tab-content" id="ex1-content">
                                <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel"
                                    aria-labelledby="ex1-tab-1">

                                    <ul class="list-group mb-0">
                                        <% for (let i=tasks.length - 1; i>= 0; i--) { %>
                                            <li class="list-group-item d-flex align-items-center border-0 mb-2 rounded"
                                                style="background-color: #f4f6f7;">
                                                <input class="form-check-input me-2" id="myCheckbox<%= i %>"
                                                    type="checkbox" value="" aria-label="..." />
                                                <p class="container gowtham-para">
                                                    <%= tasks[i] %>
                                                </p>
                                            </li>
                                            <% } %>
                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
    </section>

    <%- include("./partials/footer.ejs") %>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <script>
            $("[id^='myCheckbox']").change(function () {
                const checkbox = $(this);
                const label = checkbox.siblings(".gowtham-para");

                if (checkbox.prop("checked")) {
                    label.addClass("completed-task");
                } else {
                    label.removeClass("completed-task");
                }
            });

            $(".first-a").addClass("gowtham-active");
            $(".second-a").removeClass("gowtham-active");

            $(".first-a").addClass("link-success");
            $(".second-a").removeClass("link-success");
            $(".second-a").addClass("link-secondary");
        </script>